
// les couleurs du CV
$color_brun:  rgb(221, 214 , 186 );
$color_brun_clair:  rgb(240, 232 , 202 );
$color_brun_fonce:  rgb(184, 178 , 155 );
$color_rose:rgb(244, 136, 192);
$color_violet_clair: rgb(172, 116, 244);
$color_violet: rgb(139, 116, 244);
$color_turquoise: rgb(127, 212, 238);
$color_bleu_violine:  rgb(22, 1 , 84 );
$color_jaune_clair:  rgb(250, 220 , 130 );
$color_rouge: rgb(244, 80, 72);
$color_rouge_orange:  rgb(229, 115 , 86 );
$color_lavande_clair:  rgb(217, 164 , 252 );
$color_lavande:  rgb(203, 108 , 230);
$color_vert:rgb(75, 230, 121);
$color_bleu_gris:  rgb(137, 147 , 190 );


// Les couleurs du portfolio 
$color_body: $color_brun;
$color_titre-bg:$color_brun_fonce;
$color_titre-text:$color_bleu_violine;
$color_button:$color_rose